@media(max-width:767px) {
    #menu-bar {
        display: block !important;
    }
    nav {
        position: relative;
    }
    #menu-items {
        display: none;
        position: absolute;
        right: -3vw;
        top: 5vw;
        background-color: black;
        width: 50%;
        padding-bottom: 1vw;
    }
    nav .menu ul li a {
        font-size: 2.2vw
    }
}